USE [master]
GO
/****** Object:  Database [AtlantisBankDB]    Script Date: 9/29/2026 2:16:17 AM ******/
CREATE DATABASE [AtlantisBankDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AtlantisBankDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AtlantisBankDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AtlantisBankDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AtlantisBankDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AtlantisBankDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AtlantisBankDB]
GO
USE [AtlantisBankDB]
GO
/****** Object:  Sequence [dbo].[AccountNumberSequence]    Script Date: 9/29/2026 2:16:18 AM ******/
CREATE SEQUENCE [dbo].[AccountNumberSequence] 
 AS [bigint]
 START WITH 1000000001
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateAge]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculateAge]
(
    @DateOfBirth DATE
)
RETURNS INT
AS
BEGIN
    DECLARE @Age INT;

    SET @Age = DATEDIFF(YEAR, @DateOfBirth, GETDATE())
        - CASE
            WHEN DATEADD(YEAR, DATEDIFF(YEAR, @DateOfBirth, GETDATE()), @DateOfBirth) > GETDATE()
                THEN 1
            ELSE 0
          END;

    RETURN @Age;
END
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[AccountTypeID] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[OpenDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountTypes]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTypes](
	[AccountTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTypeDescription] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_AccountTypes] PRIMARY KEY CLUSTERED 
(
	[AccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](50) NOT NULL,
	[BranchCode] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[RegDate] [date] NOT NULL,
	[BranchID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[ExitDate] [date] NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[BranchID] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NationalNo] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[CountryID] [int] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [UniqueID] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
	[PermissionDescription] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PositionPermissions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionPermissions](
	[PositionID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
 CONSTRAINT [PK_PositionPermissions] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionDescription] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tellers]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tellers](
	[TellerID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
	[CounterNumber] [int] NOT NULL,
	[TransactionLimit] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tellers] PRIMARY KEY CLUSTERED 
(
	[TellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[DestinationAccountID] [int] NOT NULL,
	[TransactionTypeID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[TransactionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Active] [bit] NOT NULL,
	[RoleID] [int] NOT NULL,
	[RefreshTokenHash] [nvarchar](255) NULL,
	[RefreshTokenExpiresAt] [datetime] NULL,
	[RefreshTokenRevokedAt] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [PersonID], [BranchID], [AccountNumber], [AccountTypeID], [Balance], [OpenDate], [IsActive]) VALUES (1, 1, 1, N'1000000001', 1, CAST(400.00 AS Decimal(18, 2)), CAST(N'2026-09-20' AS Date), 1)
INSERT [dbo].[Accounts] ([AccountID], [PersonID], [BranchID], [AccountNumber], [AccountTypeID], [Balance], [OpenDate], [IsActive]) VALUES (2, 1, 2, N'1000000002', 2, CAST(600.00 AS Decimal(18, 2)), CAST(N'2026-09-20' AS Date), 1)
INSERT [dbo].[Accounts] ([AccountID], [PersonID], [BranchID], [AccountNumber], [AccountTypeID], [Balance], [OpenDate], [IsActive]) VALUES (3, 6, 2, N'1000000003', 1, CAST(300.00 AS Decimal(18, 2)), CAST(N'2026-09-28' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountTypes] ON 

INSERT [dbo].[AccountTypes] ([AccountTypeID], [AccountTypeDescription]) VALUES (1, N'Current')
INSERT [dbo].[AccountTypes] ([AccountTypeID], [AccountTypeDescription]) VALUES (2, N'Saving')
SET IDENTITY_INSERT [dbo].[AccountTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchID], [BranchName], [BranchCode], [Address], [Phone], [IsActive]) VALUES (1, N'Damascus Main Branch', N'DAM01', N'Rukn-Eddin', N'0998', 1)
INSERT [dbo].[Branches] ([BranchID], [BranchName], [BranchCode], [Address], [Phone], [IsActive]) VALUES (2, N'Damascus East Branch', N'DAM02', N'Douma', N'0997', 1)
INSERT [dbo].[Branches] ([BranchID], [BranchName], [BranchCode], [Address], [Phone], [IsActive]) VALUES (4, N'Aleppo', N'ALP01', N'Saadallah Al-Jabri Square', N'0996', 1)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [PersonID], [RegDate], [BranchID], [IsActive]) VALUES (1, 4, CAST(N'2026-09-20' AS Date), 1, 0)
INSERT [dbo].[Clients] ([ClientID], [PersonID], [RegDate], [BranchID], [IsActive]) VALUES (2, 7, CAST(N'2026-09-27' AS Date), 1, 0)
INSERT [dbo].[Clients] ([ClientID], [PersonID], [RegDate], [BranchID], [IsActive]) VALUES (3, 8, CAST(N'2026-09-27' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [HireDate], [ExitDate], [Salary], [BranchID], [PositionID], [IsActive]) VALUES (1, 1, CAST(N'2026-09-20' AS Date), NULL, CAST(400.00 AS Decimal(18, 2)), 1, 2, 1)
INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [HireDate], [ExitDate], [Salary], [BranchID], [PositionID], [IsActive]) VALUES (2, 5, CAST(N'2026-09-22' AS Date), CAST(N'2026-09-28' AS Date), CAST(34234234.00 AS Decimal(18, 2)), 1, 1, 0)
INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [HireDate], [ExitDate], [Salary], [BranchID], [PositionID], [IsActive]) VALUES (3, 6, CAST(N'2026-09-28' AS Date), CAST(N'2026-09-28' AS Date), CAST(10.00 AS Decimal(18, 2)), 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonID], [FirstName], [SecondName], [LastName], [NationalNo], [Phone], [Email], [Gender], [CountryID], [DateOfBirth], [Address], [ImagePath]) VALUES (1, N'Abdallah', N'Seyed Muhmmad', N'Hameed', N'n0908', N'0998283', N'abdallah@gmail.com', 0, 168, CAST(N'2003-10-05' AS Date), N'Damascus', N'E:\Media\صور\صوري\Abdallah Hameed.jpg')
INSERT [dbo].[People] ([PersonID], [FirstName], [SecondName], [LastName], [NationalNo], [Phone], [Email], [Gender], [CountryID], [DateOfBirth], [Address], [ImagePath]) VALUES (4, N'string', N'string', N'string', N'string', N'string', N'string2', 1, 1, CAST(N'2026-09-26' AS Date), N'string', N'string')
INSERT [dbo].[People] ([PersonID], [FirstName], [SecondName], [LastName], [NationalNo], [Phone], [Email], [Gender], [CountryID], [DateOfBirth], [Address], [ImagePath]) VALUES (5, N'tt', N'twrtwer', N'werewrw', N'n1', N'09999', N'dbgaigbdiadf', 0, 168, CAST(N'2004-09-22' AS Date), N'faasdfasdasd', N'C:\Users\Abdallah\Pictures\صورة شخصية.jpg')
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionDescription]) VALUES (1, N'Client_View', N'View Clients')
INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionDescription]) VALUES (2, N'Client_Add', N'Add new client')
INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionDescription]) VALUES (3, N'Client_Edit', N'Edit Client')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[PositionPermissions] ([PositionID], [PermissionID]) VALUES (1, 22)
INSERT [dbo].[PositionPermissions] ([PositionID], [PermissionID]) VALUES (1, 23)
INSERT [dbo].[PositionPermissions] ([PositionID], [PermissionID]) VALUES (1, 24)
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionDescription]) VALUES (1, N'Teller')
INSERT [dbo].[Positions] ([PositionID], [PositionDescription]) VALUES (2, N'Senior Teller')
INSERT [dbo].[Positions] ([PositionID], [PositionDescription]) VALUES (3, N'Branch Manager')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID]) VALUES (1, 1)
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID]) VALUES (1, 2)
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleDescription]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleDescription]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([RoleID], [RoleDescription]) VALUES (3, N'Super Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [AccountID], [DestinationAccountID], [TransactionTypeID], [Amount], [TransactionDate], [EmployeeID]) VALUES (1, 1, 1, 1, CAST(1000.00 AS Decimal(18, 2)), CAST(N'2026-09-20T22:26:52.040' AS DateTime), 1)
INSERT [dbo].[Transactions] ([TransactionID], [AccountID], [DestinationAccountID], [TransactionTypeID], [Amount], [TransactionDate], [EmployeeID]) VALUES (2, 1, 2, 3, CAST(500.00 AS Decimal(18, 2)), CAST(N'2026-09-20T22:27:13.827' AS DateTime), 1)
INSERT [dbo].[Transactions] ([TransactionID], [AccountID], [DestinationAccountID], [TransactionTypeID], [Amount], [TransactionDate], [EmployeeID]) VALUES (3, 1, 1, 2, CAST(200.00 AS Decimal(18, 2)), CAST(N'2026-09-20T22:27:35.307' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [Description]) VALUES (1, N'Deposit')
INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [Description]) VALUES (2, N'Withdrawal')
INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [Description]) VALUES (3, N'Transfer')
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [EmployeeID], [UserName], [Password], [Active], [RoleID], [RefreshTokenHash], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt]) VALUES (8, 7, N'string', N'$2a$11$aAVL6pczxCrzSsxGbxn4BeVHu1W1PasIb69As0KXGoMmcYytJQ1M2', 1, 1, N'$2a$11$3nFBi6NQ8JDo2vqjuitsF.SFx.oFg93x1fWRE6.xU6NuVXRHyj7.6', CAST(N'2026-10-05T21:02:10.950' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [EmployeeID], [UserName], [Password], [Active], [RoleID], [RefreshTokenHash], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt]) VALUES (9, 6, N'admin6', N'$2a$11$GOYGz6RSYufYZsJ1Wwc91u/zec/DaQVBG.mcl7Gj.eTwZLkIvtWpe', 1, 3, N'$2a$11$ofNQVW2/L8O0O9x6J1AOd.L2SXSExGA/vW4SQWD.SgXMiShgqxIeK', CAST(N'2026-10-05T21:28:04.177' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [EmployeeID], [UserName], [Password], [Active], [RoleID], [RefreshTokenHash], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt]) VALUES (10, 4, N'admin4', N'$2a$11$RCVXI1bFxX2kwcyVuhO4AuNpAxGe23pNRlBLK7/JhN4yKyMfIgCoa', 1, 1, N'$2a$11$kT/1o0uL0e1Why1D5L4cAuV/t55hHLH5S/xlMaV9vIvOQ3p6lgWwG', CAST(N'2026-10-05T22:43:02.883' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AccountNumber]    Script Date: 9/29/2026 2:16:18 AM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_AccountNumber] UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Accounts_Client_AccountType]    Script Date: 9/29/2026 2:16:18 AM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Client_AccountType] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC,
	[AccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Accounts_Customer_Type]    Script Date: 9/29/2026 2:16:18 AM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Customer_Type] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC,
	[AccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Accounts]    Script Date: 9/29/2026 2:16:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Accounts] ON [dbo].[Accounts]
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Branches]    Script Date: 9/29/2026 2:16:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Branches] ON [dbo].[Branches]
(
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Clients_PersonID]    Script Date: 9/29/2026 2:16:18 AM ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ_Clients_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Employees_PersonID]    Script Date: 9/29/2026 2:16:18 AM ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [UQ_Employees_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Permissions_Code]    Script Date: 9/29/2026 2:16:18 AM ******/
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [UQ_Permissions_Code] UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users]    Script Date: 9/29/2026 2:16:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_AccountTypes] FOREIGN KEY([AccountTypeID])
REFERENCES [dbo].[AccountTypes] ([AccountTypeID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_AccountTypes]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Branches]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_People]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Customers_Branches]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Customers_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Customers_People]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Branches]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_People]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Positions] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Positions]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Countries]
GO
ALTER TABLE [dbo].[PositionPermissions]  WITH CHECK ADD  CONSTRAINT [FK_PositionPermissions_Permissions] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[PositionPermissions] CHECK CONSTRAINT [FK_PositionPermissions_Permissions]
GO
ALTER TABLE [dbo].[PositionPermissions]  WITH CHECK ADD  CONSTRAINT [FK_PositionPermissions_Positions] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[PositionPermissions] CHECK CONSTRAINT [FK_PositionPermissions_Positions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[Tellers]  WITH CHECK ADD  CONSTRAINT [FK_Tellers_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Tellers] CHECK CONSTRAINT [FK_Tellers_Branches]
GO
ALTER TABLE [dbo].[Tellers]  WITH CHECK ADD  CONSTRAINT [FK_Tellers_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Tellers] CHECK CONSTRAINT [FK_Tellers_Employees]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Accounts]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Employees]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_TransactionTypes] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TransactionTypes] ([TransactionTypeID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_TransactionTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_Balance] CHECK  (([Balance]>=(0)))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_Accounts_Balance]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddAccount]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddAccount]
(
    @PersonID       INT,
    @BranchID       INT,
    @AccountTypeID  INT,
    @NewAccountID   INT = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.People
            WHERE PersonID = @PersonID
        )
        BEGIN
            THROW 50001, 'Person does not exist.', 1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM dbo.Accounts
            WHERE PersonID = @PersonID
              AND AccountTypeID = @AccountTypeID
        )
        BEGIN
            THROW 50002, 'This person already has an account of this type.', 1;
        END

        DECLARE @GeneratedAccountNumber NVARCHAR(50);

        SET @GeneratedAccountNumber = CAST(NEXT VALUE FOR AccountNumberSequence AS NVARCHAR(50));

        INSERT INTO dbo.Accounts
        (
            PersonID,
            BranchID,
            AccountNumber,
            AccountTypeID,
            OpenDate,
            Balance,
            IsActive
        )
        VALUES
        (
            @PersonID,
            @BranchID,
            @GeneratedAccountNumber,
            @AccountTypeID,
            GETDATE(),
            0,
            1
        );

        SET @NewAccountID = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddClient]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddClient]
(
    @FirstName       NVARCHAR(50),
    @SecondName      NVARCHAR(50),
    @LastName        NVARCHAR(50),
    @NationalNo      NVARCHAR(20),
    @Gender          BIT,
    @CountryID       INT,
    @DateOfBirth     DATE,
    @Address         NVARCHAR(500),
    @Email           NVARCHAR(100),
    @Phone           NVARCHAR(20),
    @ImagePath       NVARCHAR(250),
    @RegDate         DATE = NULL,
    @BranchID        INT,
    @IsActive        BIT = 1,
    @NewClientID     INT = NULL OUTPUT,
    @NewPersonID     INT = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Countries
            WHERE CountryID = @CountryID
        )
        BEGIN
            ;THROW 50006, 'Country does not exist.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Branches
            WHERE BranchID = @BranchID
        )
        BEGIN
            ;THROW 50007, 'Branch does not exist.', 1;
        END

        IF @IsActive = 1 AND EXISTS
        (
            SELECT 1
            FROM dbo.Clients AS C
            INNER JOIN dbo.People AS P
                ON C.PersonID = P.PersonID
            WHERE P.NationalNo = @NationalNo
              AND C.IsActive = 1
        )
        BEGIN
            ;THROW 50003, 'National number already exists for an active client.', 1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM dbo.People AS P
            WHERE P.Email = @Email
        )
        BEGIN
            ;THROW 50005, 'Email already exists for another person.', 1;
        END

        EXEC dbo.SP_AddPerson
            @FirstName       = @FirstName,
            @SecondName      = @SecondName,
            @LastName        = @LastName,
            @NationalNo      = @NationalNo,
            @Gender          = @Gender,
            @CountryID       = @CountryID,
            @DateOfBirth     = @DateOfBirth,
            @Address         = @Address,
            @Email           = @Email,
            @Phone           = @Phone,
            @ImagePath       = @ImagePath,
            @NewPersonID     = @NewPersonID OUTPUT;

        IF @NewPersonID IS NULL OR @NewPersonID = -1
        BEGIN
            ;THROW 50001, 'Person could not be created.', 1;
        END

        IF @RegDate IS NULL
            SET @RegDate = CAST(GETDATE() AS DATE);

        INSERT INTO dbo.Clients
        (
            PersonID,
            RegDate,
            BranchID,
            IsActive
        )
        VALUES
        (
            @NewPersonID,
            @RegDate,
            @BranchID,
            @IsActive
        );

        SET @NewClientID = CONVERT(INT, SCOPE_IDENTITY());

        SELECT
            @NewPersonID AS NewPersonID,
            @NewClientID AS NewClientID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddEmployee]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddEmployee]
(
    @FirstName       NVARCHAR(50),
    @SecondName      NVARCHAR(50),
    @LastName        NVARCHAR(50),
    @NationalNo      NVARCHAR(20),
    @Gender          BIT,
    @CountryID       INT,
    @DateOfBirth     DATE,
    @Address         NVARCHAR(500),
    @Email           NVARCHAR(100),
    @Phone           NVARCHAR(20),
    @ImagePath       NVARCHAR(250),
    @HireDate        DATE,
    @Salary          DECIMAL(18,2),
    @IsActive        bit =1,
    @BranchID        INT,
    @PositionID      INT,
    @NewPersonID     INT = NULL OUTPUT,
    @NewEmployeeID   INT = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Countries
            WHERE CountryID = @CountryID
        )
        BEGIN
            ;THROW 50006, 'Country does not exist.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Branches
            WHERE BranchID = @BranchID
        )
        BEGIN
            ;THROW 50007, 'Branch does not exist.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Positions
            WHERE PositionID = @PositionID
        )
        BEGIN
            ;THROW 50008, 'Position does not exist.', 1;
        END

        IF @IsActive = 1 AND EXISTS
        (
            SELECT 1
            FROM dbo.Employees AS E
            INNER JOIN dbo.People AS P
                ON E.PersonID = P.PersonID
            WHERE P.NationalNo = @NationalNo
              AND E.IsActive = 1
        )
        BEGIN
            ;THROW 50004, 'National number already exists for an active employee.', 1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM dbo.People AS P
            WHERE P.Email = @Email
        )
        BEGIN
            ;THROW 50005, 'Email already exists for another person.', 1;
        END

        EXEC dbo.SP_AddPerson
            @FirstName       = @FirstName,
            @SecondName      = @SecondName,
            @LastName        = @LastName,
            @NationalNo      = @NationalNo,
            @Gender          = @Gender,
            @CountryID       = @CountryID,
            @DateOfBirth     = @DateOfBirth,
            @Address         = @Address,
            @Email           = @Email,
            @Phone           = @Phone,
            @ImagePath       = @ImagePath,
            @NewPersonID     = @NewPersonID OUTPUT;

        IF @NewPersonID IS NULL OR @NewPersonID = -1
        BEGIN
            ;THROW 50001, 'Person could not be created.', 1;
        END

        INSERT INTO dbo.Employees
        (
            PersonID,
            HireDate,
            Salary,
            BranchID,
            PositionID,
            IsActive
        )
        VALUES
        (
            @NewPersonID,
            @HireDate,
            @Salary,
            @BranchID,
            @PositionID,
            1
        );

        SET @NewEmployeeID = CONVERT(INT, SCOPE_IDENTITY());

        SELECT
            @NewPersonID AS NewPersonID,
            @NewEmployeeID AS NewEmployeeID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewUser]
(
    @EmployeeID INT,
    @UserName NVARCHAR(50),
    @Password NVARCHAR(128),
    @RoleID INT,
    @NewUserID INT = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Employees
            WHERE EmployeeID = @EmployeeID
        )
        BEGIN
            THROW 50001, 'Employee not found.', 1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM dbo.Users
            WHERE EmployeeID = @EmployeeID
        )
        BEGIN
            THROW 50002, 'This employee already has a system account.', 1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM dbo.Users
            WHERE UserName = @UserName
        )
        BEGIN
            THROW 50003, 'User name already exists.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Roles
            WHERE RoleID = @RoleID
        )
        BEGIN
            THROW 50004, 'Role not found.', 1;
        END

        INSERT INTO dbo.Users
        (
            EmployeeID,
            UserName,
            Password,
            Active,
            RoleID
        )
        VALUES
        (
            @EmployeeID,
            @UserName,
            @Password,
            1,
            @RoleID
        );

        SET @NewUserID = CONVERT(INT, SCOPE_IDENTITY());

        SELECT @NewUserID AS NewUserID;

    END TRY

    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPerson]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddPerson]
(
    @FirstName       NVARCHAR(50),
    @SecondName      NVARCHAR(50),
    @LastName        NVARCHAR(50),
    @NationalNo      NVARCHAR(20),
    @Gender          BIT,
    @CountryID       INT,
    @DateOfBirth     DATE,
    @Address         NVARCHAR(500),
    @Email           NVARCHAR(100),
    @Phone           NVARCHAR(20),
    @ImagePath       NVARCHAR(250),
    @NewPersonID     INT = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO dbo.People
        (
            FirstName,
            SecondName,
            LastName,
            NationalNo,
            Gender,
            CountryID,
            DateOfBirth,
            Address,
            Email,
            Phone,
            ImagePath
        )
        VALUES
        (
            @FirstName,
            @SecondName,
            @LastName,
            @NationalNo,
            @Gender,
            @CountryID,
            @DateOfBirth,
            @Address,
            @Email,
            @Phone,
            @ImagePath
        );

        SET @NewPersonID = CONVERT(INT, SCOPE_IDENTITY());

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePassword]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ChangePassword]
(
    @UserID INT,
    @Password NVARCHAR(128)
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Users
    SET
        Password = @Password
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckPermission]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckPermission]
(
    @UserID INT,
    @PermissionCode NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Users U
        INNER JOIN RolePermissions RP ON U.RoleID = RP.RoleID
        INNER JOIN Permissions P ON RP.PermissionID = P.PermissionID
        WHERE U.UserID = @UserID
        AND U.Active = 1
        AND P.PermissionCode = @PermissionCode
    )
        SELECT 1 AS HasPermission;
    ELSE
        SELECT 0 AS HasPermission;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckPositionPermission]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_CheckPositionPermission]
    @PositionID INT,
    @PermissionCode NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.PositionPermissions PP
        INNER JOIN dbo.Permissions P
            ON PP.PermissionID = P.PermissionID
        WHERE PP.PositionID = @PositionID
          AND P.PermissionCode = @PermissionCode
    )
        RETURN 1;

    RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteAccount]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_DeleteAccount]
(
    @AccountID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Accounts
            WHERE AccountID = @AccountID
        )
        BEGIN
            THROW 50003, 'Account does not exist.', 1;
        END

        UPDATE dbo.Accounts
        SET IsActive = 0
        WHERE AccountID = @AccountID;

        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteClient]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DeleteClient]
(
    @ClientID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE dbo.Clients
        SET
            IsActive = 0
        WHERE ClientID = @ClientID;


        IF @@ROWCOUNT = 0
        BEGIN
            ;THROW 50001, 'Client not found.', 1;
        END


        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteEmployee]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteEmployee]
(
    @EmployeeID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Employees
            WHERE EmployeeID = @EmployeeID
        )
        BEGIN
            THROW 50001, 'Employee not found.', 1;
        END


        UPDATE dbo.Users
        SET
            Active = 0
        WHERE EmployeeID = @EmployeeID;


        UPDATE dbo.Employees
        SET
            ExitDate = GETDATE(),
            IsActive = 0
        WHERE EmployeeID = @EmployeeID;


        COMMIT TRANSACTION;

        SELECT 1 AS IsDeleted;

    END TRY

    BEGIN CATCH

        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DeleteUser]
(
    @UserID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE dbo.Users
        SET
            Active = 0
        WHERE UserID = @UserID;


        IF @@ROWCOUNT = 0
        BEGIN
            ;THROW 50001, 'User not found.', 1;
        END


        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Deposit]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Deposit]
    @AccountID INT,
    @Amount DECIMAL(18,2),
    @EmployeeID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        IF @Amount <= 0
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 7;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Accounts
            WHERE AccountID = @AccountID
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 3;
        END

        DECLARE @Balance DECIMAL(18,2);
        DECLARE @IsActive BIT;

        SELECT
            @Balance = Balance,
            @IsActive = IsActive
        FROM dbo.Accounts WITH (UPDLOCK, HOLDLOCK)
        WHERE AccountID = @AccountID;

        IF @IsActive <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 8;
        END

        EXEC sys.sp_set_session_context
            @key = N'EmployeeID',
            @value = @EmployeeID;

        EXEC sys.sp_set_session_context
            @key = N'TransactionTypeID',
            @value = 1;

        UPDATE dbo.Accounts
        SET Balance = Balance + @Amount
        WHERE AccountID = @AccountID;

        COMMIT TRANSACTION;

        RETURN 1;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_LINE() AS ErrorLine;

        RETURN 4;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAccountBalance]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAccountBalance]
    @AccountID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Balance
    FROM Accounts
    WHERE AccountID = @AccountID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAccountByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GetAccountByID]
(
    @AccountID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        A.AccountID,
        A.PersonID,
        A.BranchID,
        A.AccountNumber,
        A.AccountTypeID,
        AT.AccountTypeDescription,
        A.Balance,
        A.OpenDate,
        A.IsActive
    FROM dbo.Accounts AS A
    INNER JOIN dbo.Branches AS Br
        ON A.BranchID = Br.BranchID
    INNER JOIN dbo.AccountTypes AS AT
        ON A.AccountTypeID = AT.AccountTypeID
    WHERE A.AccountID = @AccountID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAccountTypeByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GetAccountTypeByID]
    @AccountTypeID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        AccountTypeID,
        AccountTypeDescription
    FROM AccountTypes
    WHERE AccountTypeID = @AccountTypeID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAccounts]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllAccounts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        A.AccountID,
        A.PersonID,
        A.BranchID,
        Br.BranchName,
        A.AccountNumber,
        A.AccountTypeID,
        AT.AccountTypeDescription,
        A.Balance,
        A.OpenDate,
        P.NationalNo,
        P.FirstName + ' ' + P.LastName AS OwnerName,

        C.ClientID,
        E.EmployeeID,

        CASE
            WHEN C.ClientID IS NOT NULL AND E.EmployeeID IS NOT NULL THEN 'Client / Employee'
            WHEN C.ClientID IS NOT NULL THEN 'Client'
            WHEN E.EmployeeID IS NOT NULL THEN 'Employee'
            ELSE 'Unknown'
        END AS OwnerType

    FROM dbo.Accounts AS A

    INNER JOIN dbo.People AS P
        ON A.PersonID = P.PersonID

    INNER JOIN dbo.Branches AS Br
        ON A.BranchID = Br.BranchID

    INNER JOIN dbo.AccountTypes AS AT
        ON A.AccountTypeID = AT.AccountTypeID

    LEFT JOIN dbo.Clients AS C
        ON P.PersonID = C.PersonID

    LEFT JOIN dbo.Employees AS E
        ON P.PersonID = E.PersonID
        where A.IsActive = 1
    ORDER BY A.AccountID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAccountTypes]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   PROCEDURE [dbo].[SP_GetAllAccountTypes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        AccountTypeID,
        AccountTypeDescription
    FROM AccountTypes
    ORDER BY AccountTypeID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllBranches]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllBranches]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        BranchID,
        BranchCode,
        BranchName,
        IsActive,
        Address,
        Phone
    FROM Branches
    ORDER BY BranchID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllClients]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllClients]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        C.ClientID,
        P.NationalNo,
        P.FirstName,
        P.SecondName,
        P.LastName,
        P.DateOfBirth,
        dbo.CalculateAge(P.DateOfBirth) AS Age,
        Co.CountryName,
        P.Phone,
        P.Email,
        B.BranchName,
        CASE
            WHEN P.Gender = 1 THEN 'Female'
            ELSE 'Male'
        END AS GenderText
    FROM dbo.Clients AS C
    INNER JOIN dbo.People AS P
        ON C.PersonID = P.PersonID
    INNER JOIN dbo.Countries AS Co
        ON P.CountryID = Co.CountryID
    INNER JOIN dbo.Branches AS B
        ON C.BranchID = B.BranchID
    WHERE C.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCountries]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllCountries]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CountryID,
        CountryName
    FROM Countries
    ORDER BY CountryName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllEmployees]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        E.EmployeeID,
        P.NationalNo,
        P.FirstName,
        P.LastName,

        dbo.CalculateAge(P.DateOfBirth) AS Age,

        CASE
            WHEN P.Gender = 1 THEN 'Female'
            ELSE 'Male'
        END AS GenderText,

        P.Phone,

        C.CountryName,

        B.BranchName,

        Pos.PositionDescription AS Position,

        CASE
            WHEN U.UserID IS NULL THEN 'No'
            ELSE 'Yes'
        END AS SystemAccount,

        R.RoleDescription AS Role,

        E.HireDate

    FROM dbo.Employees AS E

    INNER JOIN dbo.People AS P
        ON E.PersonID = P.PersonID

    INNER JOIN dbo.Countries AS C
        ON P.CountryID = C.CountryID

    INNER JOIN dbo.Branches AS B
        ON E.BranchID = B.BranchID

    INNER JOIN dbo.Positions AS Pos
        ON E.PositionID = Pos.PositionID

    LEFT JOIN dbo.Users AS U
        ON E.EmployeeID = U.EmployeeID

    LEFT JOIN dbo.Roles AS R
        ON U.RoleID = R.RoleID

    WHERE E.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPositions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAllPositions]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PositionID,
        PositionDescription
    FROM dbo.Positions
    ORDER BY PositionID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRoles]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllRoles]
AS
BEGIN

    SELECT RoleID, RoleDescription
    FROM Roles
    ORDER BY RoleID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTransactions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   PROCEDURE [dbo].[SP_GetAllTransactions]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        T.TransactionID,
        TT.Description AS TransactionType,
        A.AccountNumber AS [From],
        CASE
            WHEN T.TransactionTypeID = 3 THEN DA.AccountNumber
            ELSE NULL
        END AS [To],
        T.Amount,
        T.TransactionDate,
        T.EmployeeID
    FROM dbo.Transactions AS T
    INNER JOIN dbo.TransactionTypes AS TT
        ON T.TransactionTypeID = TT.TransactionTypeID
    INNER JOIN dbo.Accounts AS A
        ON T.AccountID = A.AccountID
    LEFT JOIN dbo.Accounts AS DA
        ON T.DestinationAccountID = DA.AccountID
    ORDER BY T.TransactionDate DESC, T.TransactionID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        U.UserID,
        U.UserName,
        E.EmployeeID,
        Pos.PositionDescription AS Position,
        B.BranchName AS Branch,
        R.RoleDescription AS Role
    FROM dbo.Users AS U
    INNER JOIN dbo.Employees AS E
        ON U.EmployeeID = E.EmployeeID
    INNER JOIN dbo.Positions AS Pos
        ON E.PositionID = Pos.PositionID
    INNER JOIN dbo.Branches AS B
        ON E.BranchID = B.BranchID
    INNER JOIN dbo.Roles AS R
        ON U.RoleID = R.RoleID
        where U.Active=1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBranchByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBranchByID]
    @BranchID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        BranchID,
        BranchCode,
        BranchName,
        Address,
        Phone
    FROM Branches
    WHERE BranchID = @BranchID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GetClientByID]
(
    @ClientID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        C.ClientID,
        C.PersonID,
        P.FirstName,
        P.SecondName,
        P.LastName,
        P.NationalNo,
        P.Email,
        P.Phone,
        P.Gender,
        P.CountryID,
        P.DateOfBirth,
        P.Address,
        P.ImagePath,
        C.RegDate,
        C.BranchID,
        C.IsActive
    FROM dbo.Clients AS C
    INNER JOIN dbo.People AS P
        ON C.PersonID = P.PersonID
    INNER JOIN dbo.Branches AS B
        ON C.BranchID = B.BranchID
    WHERE C.ClientID = @ClientID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientByNationalNo]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GetClientByNationalNo]
(
    @NationalNo NVARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        C.ClientID,
        C.PersonID,
        P.FirstName,
        P.SecondName,
        P.LastName,
        P.NationalNo,
        P.Email,
        P.Phone,
        P.Gender,
        P.CountryID,
        P.DateOfBirth,
        P.Address,
        P.ImagePath,
        C.RegDate,
        C.BranchID,
        C.IsActive
    FROM dbo.Clients AS C
    INNER JOIN dbo.People AS P
        ON C.PersonID = P.PersonID
    INNER JOIN dbo.Branches AS B
        ON C.BranchID = B.BranchID
    WHERE P.NationalNo = @NationalNo;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCountryByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetCountryByID]
    @CountryID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CountryID, CountryName
    FROM Countries
    WHERE CountryID = @CountryID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmployeeByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetEmployeeByID]
(
    @EmployeeID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        E.EmployeeID,
        E.PersonID,
        P.FirstName,
        P.SecondName,
        P.LastName,
        P.NationalNo,
        P.Gender,
        P.CountryID,
        P.DateOfBirth,
        P.Address,
        P.Email,
        P.Phone,
        P.ImagePath,
        E.HireDate,
        E.ExitDate,
        E.Salary,
        E.BranchID,
        E.PositionID,
        E.IsActive
    FROM dbo.Employees AS E
    INNER JOIN dbo.People AS P
        ON E.PersonID = P.PersonID
    WHERE E.EmployeeID = @EmployeeID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmployeeByNationalNo]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetEmployeeByNationalNo]
(
    @NationalNo NVARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        E.EmployeeID,
        E.PersonID,
        P.FirstName,
        P.SecondName,
        P.LastName,
        P.NationalNo,
        P.Gender,
        P.CountryID,
        P.DateOfBirth,
        P.Address,
        P.Email,
        P.Phone,
        P.ImagePath,
        E.HireDate,
        E.ExitDate,
        E.Salary,
        E.BranchID,
        E.PositionID,
        E.IsActive
    FROM dbo.Employees AS E
    INNER JOIN dbo.People AS P
        ON E.PersonID = P.PersonID
    WHERE P.NationalNo = @NationalNo;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPermissionsByRoleID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPermissionsByRoleID]
    @RoleID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT P.PermissionCode
    FROM RolePermissions RP
    INNER JOIN Permissions P ON RP.PermissionID = P.PermissionID
    WHERE RP.RoleID = @RoleID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GetPersonByID]
(
    @PersonID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PersonID,
        FirstName,
        SecondName,
        LastName,
        NationalNo,
        Gender,
        CountryID,
        DateOfBirth,
        Address,
        Email,
        Phone,
        ImagePath
    FROM dbo.People
    WHERE PersonID = @PersonID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonByNationalNo]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GetPersonByNationalNo]
(
    @NationalNo NVARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PersonID,
        FirstName,
        SecondName,
        LastName,
        NationalNo,
        Gender,
        CountryID,
        DateOfBirth,
        Address,
        Email,
        Phone,
        ImagePath
    FROM dbo.People
    WHERE NationalNo = @NationalNo;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPositionByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPositionByID]
(
    @PositionID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PositionID,
        PositionDescription
    FROM dbo.Positions
    WHERE PositionID = @PositionID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPositionPermissions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPositionPermissions]
    @PositionID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT P.PermissionCode
    FROM PositionPermissions PP
    INNER JOIN Permissions P
        ON PP.PermissionID = P.PermissionID
    WHERE PP.PositionID = @PositionID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoleByRoleID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRoleByRoleID]
    @RoleID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        RoleID,
        RoleDescription
    FROM Roles
    WHERE RoleID = @RoleID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByID]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserByID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserID,
        UserName,
        Password,
        Active,
        RoleID,
        EmployeeID,
        RefreshTokenHash,
        RefreshTokenExpiresAt,
        RefreshTokenRevokedAt
    FROM Users
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByUserName]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserByUserName]
    @UserName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserID,
        UserName,
        Password,
        Active,
        RoleID,
        EmployeeID,
        RefreshTokenHash,
        RefreshTokenExpiresAt,
        RefreshTokenRevokedAt
    FROM Users
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserPermissions]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetUserPermissions]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.PermissionCode
    FROM dbo.Users U
    INNER JOIN dbo.RolePermissions RP
        ON U.RoleID = RP.RoleID
    INNER JOIN dbo.Permissions P
        ON RP.PermissionID = P.PermissionID
    WHERE U.UserID = @UserID and U.Active = 1
    ORDER BY P.PermissionCode;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsEmployeeExists]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_IsEmployeeExists]
(
    @EmployeeID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Employees
        WHERE EmployeeID = @EmployeeID
    )
        SELECT 1 AS EmployeeExists;
    ELSE
        SELECT 0 AS EmployeeExists;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPersonExists]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_IsPersonExists]
(
    @PersonID INT,
    @Exists BIT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.People
        WHERE PersonID = @PersonID
    )
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExists]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_IsUserExists]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CASE
        WHEN EXISTS
        (
            SELECT 1
            FROM dbo.Users
            WHERE UserID = @UserID
        )
        THEN 1
        ELSE 0
    END;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RevokeRefreshToken]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RevokeRefreshToken]
    @UserID INT,
    @RefreshTokenRevokedAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET RefreshTokenRevokedAt = @RefreshTokenRevokedAt
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Transfer]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Transfer]
    @AccountID INT,
    @DestinationAccountID INT,
    @Amount DECIMAL(18,2),
    @EmployeeID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        IF @Amount <= 0
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 7;
        END

        IF @AccountID = @DestinationAccountID
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 7;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Accounts
            WHERE AccountID = @AccountID
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 3;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Accounts
            WHERE AccountID = @DestinationAccountID
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 3;
        END

        DECLARE @Balance DECIMAL(18,2);
        DECLARE @IsActive BIT;
        DECLARE @DestinationIsActive BIT;

        IF @AccountID < @DestinationAccountID
        BEGIN
            SELECT
                @Balance = Balance,
                @IsActive = IsActive
            FROM dbo.Accounts WITH (UPDLOCK, HOLDLOCK)
            WHERE AccountID = @AccountID;

            SELECT
                @DestinationIsActive = IsActive
            FROM dbo.Accounts WITH (UPDLOCK, HOLDLOCK)
            WHERE AccountID = @DestinationAccountID;
        END
        ELSE
        BEGIN
            SELECT
                @DestinationIsActive = IsActive
            FROM dbo.Accounts WITH (UPDLOCK, HOLDLOCK)
            WHERE AccountID = @DestinationAccountID;

            SELECT
                @Balance = Balance,
                @IsActive = IsActive
            FROM dbo.Accounts WITH (UPDLOCK, HOLDLOCK)
            WHERE AccountID = @AccountID;
        END

        IF @IsActive <> 1 OR @DestinationIsActive <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 8;
        END

        IF @Balance < @Amount
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 7;
        END

        EXEC sys.sp_set_session_context
            @key = N'EmployeeID',
            @value = @EmployeeID;

        EXEC sys.sp_set_session_context
            @key = N'TransactionTypeID',
            @value = 3;

        EXEC sys.sp_set_session_context
            @key = N'DestinationAccountID',
            @value = @DestinationAccountID;

        UPDATE dbo.Accounts
        SET Balance = Balance - @Amount
        WHERE AccountID = @AccountID;

        UPDATE dbo.Accounts
        SET Balance = Balance + @Amount
        WHERE AccountID = @DestinationAccountID;

        COMMIT TRANSACTION;

        RETURN 1;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        RETURN 4;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAccount]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateAccount]
(
    @AccountID INT,
    @BranchID  INT,
    @IsActive  BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Accounts
            WHERE AccountID = @AccountID
        )
        BEGIN
            THROW 50003, 'Account does not exist.', 1;
        END

        UPDATE dbo.Accounts
        SET
            BranchID = @BranchID,
            IsActive = @IsActive
        WHERE AccountID = @AccountID;

        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAccountTypeDescription]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_UpdateAccountTypeDescription]
    @AccountTypeID INT,
    @AccountTypeDescription NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE AccountTypes
    SET AccountTypeDescription = @AccountTypeDescription
    WHERE AccountTypeID = @AccountTypeID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateClient]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateClient]
(
    @ClientID      INT,
    @FirstName     NVARCHAR(100),
    @SecondName    NVARCHAR(100),
    @LastName      NVARCHAR(100),
    @NationalNo    NVARCHAR(100),
    @Gender        BIT,
    @CountryID     INT,
    @DateOfBirth   DATE,
    @Address       NVARCHAR(250),
    @Email         NVARCHAR(100),
    @Phone         NVARCHAR(100),
    @ImagePath     NVARCHAR(500),
    @RegDate       DATE,
    @BranchID      INT,
    @IsActive      BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE @PersonID INT;

        SELECT @PersonID = PersonID
        FROM dbo.Clients
        WHERE ClientID = @ClientID;

        IF @PersonID IS NULL
        BEGIN
            ;THROW 50001, 'Client not found.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Countries
            WHERE CountryID = @CountryID
        )
        BEGIN
            ;THROW 50006, 'Country does not exist.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Branches
            WHERE BranchID = @BranchID
        )
        BEGIN
            ;THROW 50007, 'Branch does not exist.', 1;
        END

        IF @IsActive = 1 AND EXISTS
        (
            SELECT 1
            FROM dbo.Clients AS C
            INNER JOIN dbo.People AS P
                ON C.PersonID = P.PersonID
            WHERE P.NationalNo = @NationalNo
              AND C.IsActive = 1
              AND C.ClientID <> @ClientID
        )
        BEGIN
            ;THROW 50003, 'National number already exists for another active client.', 1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM dbo.People AS P
            WHERE P.Email = @Email
              AND P.PersonID <> @PersonID
        )
        BEGIN
            ;THROW 50005, 'Email already exists for another person.', 1;
        END

        EXEC dbo.SP_UpdatePerson
            @PersonID      = @PersonID,
            @FirstName     = @FirstName,
            @SecondName    = @SecondName,
            @LastName      = @LastName,
            @NationalNo    = @NationalNo,
            @Gender        = @Gender,
            @CountryID     = @CountryID,
            @DateOfBirth   = @DateOfBirth,
            @Address       = @Address,
            @Email         = @Email,
            @Phone         = @Phone,
            @ImagePath     = @ImagePath;

        UPDATE dbo.Clients
        SET
            RegDate = @RegDate,
            BranchID = @BranchID,
            IsActive = @IsActive
        WHERE ClientID = @ClientID;

        IF @@ROWCOUNT = 0
        BEGIN
            ;THROW 50002, 'Client could not be updated.', 1;
        END

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateEmployee]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateEmployee]
(
    @EmployeeID  INT,
    @FirstName   NVARCHAR(100),
    @SecondName  NVARCHAR(100),
    @LastName    NVARCHAR(100),
    @NationalNo  NVARCHAR(100),
    @Gender      BIT,
    @CountryID   INT,
    @DateOfBirth DATE,
    @Address     NVARCHAR(250),
    @Email       NVARCHAR(100),
    @Phone       NVARCHAR(100),
    @ImagePath   NVARCHAR(500),
    @HireDate    DATE,
    @ExitDate    DATE = NULL,
    @Salary      DECIMAL(18,2),
    @BranchID    INT,
    @PositionID  INT,
    @IsActive    BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE @PersonID INT;

        SELECT @PersonID = PersonID
        FROM dbo.Employees
        WHERE EmployeeID = @EmployeeID;

        IF @PersonID IS NULL
        BEGIN
            ;THROW 50001, 'Employee not found.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Countries
            WHERE CountryID = @CountryID
        )
        BEGIN
            ;THROW 50006, 'Country does not exist.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Branches
            WHERE BranchID = @BranchID
        )
        BEGIN
            ;THROW 50007, 'Branch does not exist.', 1;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Positions
            WHERE PositionID = @PositionID
        )
        BEGIN
            ;THROW 50008, 'Position does not exist.', 1;
        END

        IF @IsActive = 1 AND EXISTS
        (
            SELECT 1
            FROM dbo.Employees AS E
            INNER JOIN dbo.People AS P
                ON E.PersonID = P.PersonID
            WHERE P.NationalNo = @NationalNo
              AND E.IsActive = 1
              AND E.EmployeeID <> @EmployeeID
        )
        BEGIN
            ;THROW 50004, 'National number already exists for another active employee.', 1;
        END

        IF EXISTS
        (
            SELECT 1
            FROM dbo.People AS P
            WHERE P.Email = @Email
              AND P.PersonID <> @PersonID
        )
        BEGIN
            ;THROW 50005, 'Email already exists for another person.', 1;
        END

        EXEC dbo.SP_UpdatePerson
            @PersonID      = @PersonID,
            @FirstName     = @FirstName,
            @SecondName    = @SecondName,
            @LastName      = @LastName,
            @NationalNo    = @NationalNo,
            @Gender        = @Gender,
            @CountryID     = @CountryID,
            @DateOfBirth   = @DateOfBirth,
            @Address       = @Address,
            @Email         = @Email,
            @Phone         = @Phone,
            @ImagePath     = @ImagePath;

        UPDATE dbo.Employees
        SET
            HireDate = @HireDate,
            ExitDate = @ExitDate,
            Salary = @Salary,
            BranchID = @BranchID,
            PositionID = @PositionID,
            IsActive = @IsActive
        WHERE EmployeeID = @EmployeeID;

        IF @@ROWCOUNT = 0
        BEGIN
            ;THROW 50002, 'Employee could not be updated.', 1;
        END

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UpdatePerson]
(
    @PersonID      INT,
    @FirstName     NVARCHAR(50),
    @SecondName    NVARCHAR(50),
    @LastName      NVARCHAR(50),
    @NationalNo    NVARCHAR(20),
    @Gender        BIT,
    @CountryID     INT,
    @DateOfBirth   DATE,
    @Address       NVARCHAR(500),
    @Email         NVARCHAR(100),
    @Phone         NVARCHAR(20),
    @ImagePath     NVARCHAR(250)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE dbo.People
        SET
            FirstName = @FirstName,
            SecondName = @SecondName,
            LastName = @LastName,
            NationalNo = @NationalNo,
            Gender = @Gender,
            CountryID = @CountryID,
            DateOfBirth = @DateOfBirth,
            Address = @Address,
            Email = @Email,
            Phone = @Phone,
            ImagePath = @ImagePath
        WHERE PersonID = @PersonID;

        IF @@ROWCOUNT = 0
        BEGIN
            ;THROW 50001, 'Person not found.', 1;
        END

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRefreshToken]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRefreshToken]
    @UserID INT,
    @RefreshTokenHash NVARCHAR(255),
    @RefreshTokenExpiresAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET RefreshTokenHash = @RefreshTokenHash,
        RefreshTokenExpiresAt = @RefreshTokenExpiresAt,
        RefreshTokenRevokedAt = NULL
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UpdateUser]
(
    @UserID       INT,
    @UserName     NVARCHAR(50),
    @Active BIT,
    @RoleID       INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        --------------------------------------------------
        -- 1. Make sure User exists
        --------------------------------------------------

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Users
            WHERE UserID = @UserID
        )
        BEGIN
            THROW 50001, 'User not found.', 1;
        END


        --------------------------------------------------
        -- 2. Make sure Role exists
        --------------------------------------------------

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Roles
            WHERE RoleID = @RoleID
        )
        BEGIN
            THROW 50002, 'Role not found.', 1;
        END


        --------------------------------------------------
        -- 3. Make sure UserName is not used by another User
        --------------------------------------------------

        IF EXISTS
        (
            SELECT 1
            FROM dbo.Users
            WHERE UserName = @UserName
              AND UserID <> @UserID
        )
        BEGIN
            THROW 50003, 'User name already exists.', 1;
        END


        --------------------------------------------------
        -- 4. Update User
        --------------------------------------------------

        UPDATE dbo.Users
        SET
            UserName = @UserName,
            Active = @Active,
            RoleID = @RoleID
        WHERE UserID = @UserID;


        --------------------------------------------------
        -- 5. Make sure User was updated
        --------------------------------------------------

        IF @@ROWCOUNT = 0
        BEGIN
            THROW 50004, 'User could not be updated.', 1;
        END

    END TRY

    BEGIN CATCH

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Withdrawal]    Script Date: 9/29/2026 2:16:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Withdrawal]
    @AccountID INT,
    @Amount DECIMAL(18,2),
    @EmployeeID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        IF @Amount <= 0
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 7;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Accounts
            WHERE AccountID = @AccountID
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 3;
        END

        DECLARE @Balance DECIMAL(18,2);
        DECLARE @IsActive BIT;

        SELECT
            @Balance = Balance,
            @IsActive = IsActive
        FROM dbo.Accounts WITH (UPDLOCK, HOLDLOCK)
        WHERE AccountID = @AccountID;

        IF @IsActive <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 8;
        END

        IF @Balance < @Amount
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN 7;
        END

        EXEC sys.sp_set_session_context
            @key = N'EmployeeID',
            @value = @EmployeeID;

        EXEC sys.sp_set_session_context
            @key = N'TransactionTypeID',
            @value = 2;

        UPDATE dbo.Accounts
        SET Balance = Balance - @Amount
        WHERE AccountID = @AccountID;

        COMMIT TRANSACTION;

        RETURN 1;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        RETURN 4;

    END CATCH
END
GO
USE [master]
GO
